<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <!-- отключить режим совместимости internet explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- для адаптивности: ширина экрана берется за исходную ширину, от которой все высчитывается -->
    <meta name="viewport" content="width=device-width">
    <!-- seo optimization: запретим индексацию сайта поисковыми роботами -->
    <meta name="robots" content="noindex, nofollow">
    <meta name="keywords" content="зож, здоровый, образ, жизни, тренировки, спорт, портал, культура, секции, площадки, новости, молодёжь, потенциал">
    <meta name="description" content="В данном интернет-портале будут отражены сведения о спортивных площадках, календаре мероприятий, официальных нормативах и многом другом. Каждый житель страны сможет получить полезные советы от профессионалов, узнать больше о подборе амуниции и правильном питании, записать ребёнка в секцию, а также открыть свой личный кабинет, где будет отображаться информация о его личных успехах.">
    <meta name="author" content="SIV">
    <!-- Таблица стилей виджета Gismeteo -->
    <link rel="stylesheet" type="text/css" href="https://bst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
    <!-- Библиотека normalize.css "заставляет" старые и новые браузеры отображать все элементы одинаково -->
    <link rel="stylesheet" href="{{ config.base_url }}css/normalize.css">
    <link rel="stylesheet" href="{{ config.base_url }}css/fonts.css">
    <link rel="stylesheet" href="{{ config.base_url }}css/main.css">
    <link rel="stylesheet" href="{{ config.base_url }}css/content.css">
    <link rel="stylesheet" href="{{ config.base_url }}css/sidebar.css">
</head>