{% extends 'main_template.twig' %}

{% block content %}

    {% for areasitem in areasitems %}
    <div class="content__item">
        <h4 class="content__item-title">{{ areasitem.title }}</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            {{ areasitem.date }}
        </p>
        <div class="content__item-text">
            {{ areasitem.text }}
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: {{ areasitem.views }}
            |
            <span class="icon-bubble2"></span>
            Комментариев: {{ areasitem.comments }}
        </p>
    </div>
    {% endfor %}

{% endblock %}