{% extends 'main_template.twig' %}

{% block content %}
    {% for calendaritem in calendaritems %}
    <div class="content__item">
        <h4 class="content__item-title">{{ calendaritem.title }}</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            {{ calendaritem.date }}
        </p>
        <div class="content__item-text">
            {{ calendaritem.text }}
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: {{ calendaritem.views }}
            |
            <span class="icon-bubble2"></span>
            Комментариев: {{ calendaritem.comments }}
        </p>
    </div>
    {% endfor %}
{% endblock %}