{% extends 'main_template.twig' %}

{% block content %}

    {% for equipmentitem in equipmentitems %}
        <div class="content__item">
            <h4 class="content__item-title">{{ equipmentitem.title }}</h4>
            <p class="content__item-date">
                <span class="icon-clock"></span>
                {{ equipmentitem.date }}
            </p>
            <div class="content__item-text">
                <iframe width="700" height="315" src="https://www.youtube.com/embed/{{ equipmentitem.youtubesrc }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="content__item-activity">
                <span class="icon-eye"></span>
                Просмотров: {{ equipmentitem.views }}
                |
                <span class="icon-bubble2"></span>
                Комментариев: {{ equipmentitem.comments }}
            </p>
        </div>
    {% endfor %}

{% endblock %}