{% extends 'main_template.twig' %}

{% block content %}

    {% for newsitem in newsitems %}
        <div class="content__item">
            <h4 class="content__item-title">
                {{ newsitem.title }}
            </h4>
            <p class="content__item-date">
            <span class="icon-clock"></span>
                {{ newsitem.date }}
            </p>
            <div class="content__item-text">
                {{ newsitem.text }}
            </div>
            <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: {{ newsitem.views }}
            |
            <span class="icon-bubble2"></span>
            Комментариев: {{ newsitem.comments }}
            </p>
        </div>
    {% endfor %}

{% endblock %}