{% extends 'main_template.twig' %}

{% block content %}
    {% for secsitem in secsitems %}
    <div class="content__item">
        <h4 class="content__item-title">{{ secsitem.title }}</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            {{ secsitem.date }}
        </p>
        <div class="content__item-text">
           {{ secsitem.text }}
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: {{ secsitem.views }}
            |
            <span class="icon-bubble2"></span>
            Комментариев: {{ secsitem.comments }}
        </p>
    </div>
    {% endfor %}

{% endblock %}